<table [dataSource]="followers" class="mat-elevation-z8" mat-table>
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell> Name</th>
    <td *matCellDef="let element" [routerLink]="['/followers', element.name, element.id.toString()]"
        mat-cell> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="website">
    <th *matHeaderCellDef mat-header-cell> Website</th>
    <td *matCellDef="let element" mat-cell> {{element.website}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th *matHeaderCellDef mat-header-cell> Action</th>
    <td *matCellDef="let element" mat-cell>
      <button
        *ngIf="element.username"
        [routerLink]="['/followers', element.name, element.id.toString()]"
        color="primary"
        mat-icon-button
      >
        <mat-icon>open_in_full</mat-icon>
      </button>
      <button
        (click)="banFollower(element)"
        color="warn"
        mat-icon-button
        *ngIf="auth.user$ | async"
      >
        <mat-icon>dangerous</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>

