<section class="grid-container">
  <h1 class="mat-h1">Followers</h1>

  <form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="followerForm">
    <div>
      <mat-form-field class="full-width">
        <mat-label>Id</mat-label>
        <input formControlName="id" matInput type="text" required>
      </mat-form-field>


      <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput type="text" required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Website</mat-label>
        <input formControlName="website" matInput type="text" required>
      </mat-form-field>
    </div>

    <button
      [type]="submit"
      [disabled]="!followerForm.valid"
      color="primary" mat-raised-button
    >
      Add Follower
    </button>
  </form>

  <app-user-table [formEvent]="formEventsSubject.asObservable()" (banFollowerEvent)="onBanFollower($event)" [followers]="followers"></app-user-table>
</section>
